#small-text {
    font-size: small;
}

/* .no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
} */

#main-container {
    background-color:white;
    max-width: 930px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: x-large; */
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: large; */
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

#mint {
    color: rgb(212, 237, 212)
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: rgb(1, 42, 18);
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

i {
    color:aquamarine;
}

i:hover {
    color:white;
    -webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

.nav-link {
    color:rgb(212, 237, 212);
    font-family: 'Times New Roman', Times, serif;
}

