#small-text {
    font-size: small;
}

#fancy-man {
    font-family: 'Times New Roman', Times, serif;
}

#main-container {
    background-color:white;
    max-width: 930px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

#mint {
    color: rgb(212, 237, 212)
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: rgb(1, 42, 18);
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

i {
    color:aquamarine;
}

i:hover {
    color:white;
    -webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

.nav-link {
    color:rgb(212, 237, 212);
    font-family: 'Times New Roman', Times, serif;
}

#paper-source {
    font-size: x-small;
}

#paper-body {
    font-size: small;
}

#paper-link {
    font-size: small;
    font-style: italic;
}

#card-line {
    color:rgb(67, 84, 70);
}

#card-title {
    color: rgb(1, 70, 1);
}

#card-date {
    font-size: small;
    color:rgb(158, 182, 162);
}

#card-see {
    color: rgb(158, 182, 162);
    font-family: 'Times New Roman', Times, serif;
}

#card-see:hover {
    color: rgb(63, 99, 63);
}

#post-story {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    height: 40px;
    background-image: linear-gradient(rgb(0, 93, 0),rgb(64, 64, 64));
    width: fit-content;
    padding: 7px 15px;
    border-radius: 5px;
}

#post-story:hover {
    box-shadow: 1px 1px 5px 0px rgb(39, 59, 37);
    cursor: pointer;
}

#button-text {
    color: white;
}
