{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}
<div class="contact">
    {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.subject.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('contact') }}" class="bg-white rounded mt-3 p-5" method=post>
        <h1 class="text-center">Contact Us</h1>
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }} <br>
            {{ form.name(class='form-control', placeholder='Your name') }}
        </p>
        <p>
            {{ form.email.label }} <br>
            {{ form.email(class='form-control', placeholder='Your e-mail ...') }}
        </p>
        <p>
            {{ form.subject.label }}<br>
            {{form.subject(class='form-control', placeholder='Your subject ...')}}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(class='form-control', placeholder='Write your request ...') }}
        </p>
        <p>
            {{ form.submit(class='btn btn-primary w-100 mt-3') }}
        </p>
    </form>
</div>

{% endblock %}