{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    <h1 class="text-center">Welcome Back, {{ current_user.username }}!</h1>
    <a class="nav-link" href="{{ url_for('create_post') }}">Post a News Story</a>
{% endif %}

{% for post in posts %}
    <div class="card my-3">
        <div class="card-title m-3 border-1">
        {{ post.title }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ post.body }}</p>
                <footer class="blockquote-footer">
            {% if current_user.is_authenticated %}
                {{ post.author.username }} on
            {% endif %}
                <cite title="Source Title">{{ post.date_created.strftime('%B %d, %Y') }}</cite>
            </footer>
        </blockquote>
        <a href="{{ url_for('get_post', post_id=post.id) }}" class="btn btn-primary mt-3">See More</a>
        </div>
    </div>
{%endfor%}

{% endblock %}