{% extends 'base.html' %}

{% block title %} Research {% endblock %}

{% block content %}
<h1>Research</h1>
<div class="container">
<div class="card mb-3 py-3 border-0" style="max-width: 1000px;">
    <div class="row g-4">
        <div class="col-md-4 mx-0 px-0">
            <div class="card-body">
              <h2 class="pb-1">Overview</h2>
              <p class="card-text">The Widom Lab studies RNA, which performs a plethora of different functions in the cell by folding into specific structures and, often, interconverting between different structures. In addition to its well-known roles as an intermediate messenger between DNA and proteins, RNA is also capable of regulating gene expression, catalyzing chemical reactions, and much more. Our lab is particularly interested in riboswitches, which regulate gene expression in bacteria, and splicing, the process by which sections of RNA that do not code for proteins are excised.</p>
            </div>
        </div>
        <div class="col">
          <img src="{{url_for('static', filename='rna.png')}}" class="img-fluid rounded" alt="RNA">
        </div>
    </div>  
</div>
<p>We use a variety of biophysical techniques, centered around ultrafast and single-molecule spectroscopy, to probe the structures and dynamics of systems ranging from isolated RNAs to large RNA-protein complexes. We also take advantage of the inherent folding ability of RNA to make nanostructures that position chromophores in specific locations, allowing us to characterize the optical properties that arise from specific chromophore arrangements. RNA is an excellent platform for such studies, because its structure is encoded in its sequence and can therefore be readily programmed and manipulated.</p>
<div class="card mb-3 py-3 border-0" style="max-width: 1000px;">
    <div class="row g-4">
        <div class="col-md mx-0 px-0">
            <div class="card-body">
              <h2 class="pb-1">Current Work</h2>
              <p class="card-text">Currently, we are utilizing steady state fluorescence and circular dichroism spectroscopy to study local conformational changes that occur upon folding of a riboswitch that regulates transcription. For these experiments, we utilize the fluorescent adenine analogue 2-aminopurine (2-AP). When 2-AP is incorporated into RNA, its fluorescence gets quenched and the CD spectrum of the RNA gets modified as a result of electronic interactions between 2-AP and its neighboring bases. These changes can be used to analyze the folding mechanism of the RNA. We are also utilizing 2-AP as a donor fluorophore for Förster resonance energy transfer (FRET) experiments in order to probe nanometer length-scale structural rearrangements in the RNA.</p>
              <p>In addition, we are currently building an instrument that can measure fluorescence lifetimes as short as a few hundred femtoseconds. This instrument will allow us to measure fluorescence quenching and FRET by 2-AP and other probes in a far more nuanced way than simply looking at their fluorescence intensities. We recently completed a single-molecule fluorescence instrument that we will use to perform FRET measurements with standard fluorescent labels. These measurements will provide information about nanometer length-scale conformational rearrangements that will strongly complement the Angstrom length-scale information we gain from our fluorescence quenching and CD experiments.</p>
              <p>In addition to our work on riboswitches, we are using these methods to study protein-RNA interactions, focusing on the process of splicing. There are a several proteins that remodel RNA structure during splicing, and in doing so, they help to ensure that splicing happens accurately. We are studying one such protein, Prp22, which acts during the later stages of the splicing process. We are using fluorescence and CD spectroscopy to study conformational rearrangements it induces when it binds to RNA, and we will be using single-molecule fluorescence microscopy to investigate the dynamics of these rearrangements.</p>
            </div>
        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <img src="{{url_for('static', filename='figure1.jpeg')}}" class="img-fluid rounded" alt="CD Figure">
            <br>
            <br>
            <br>
            <img src="{{url_for('static', filename='figure2.jpeg')}}" class="img-fluid rounded" alt="CD Figure">
        </div>
    </div>  
</div>
</div>
{% endblock %}