{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<form action="" class="bg-white rounded mt-3 p-5" method="post">
    <h1 class="text-center">Sign Up</h1>
    {{ form.csrf_token }}

    {{ form.firstname.label }}
    {{ form.firstname(class='form-control', placeholder='Enter First Name') }}

    {{ form.lastname.label }}
    {{ form.lastname(class='form-control', placeholder='Enter Last Name') }}
    
    {{ form.email.label }}
    {{ form.email(class='form-control', placeholder='Enter Email') }}

    {{ form.username.label }}
    {{ form.username(class='form-control', placeholder='Enter Username') }}

    {{ form.password.label }}
    {{ form.password(class='form-control', placeholder='Enter Password') }}

    {{ form.confirm_pass.label }}
    {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}

    {{ form.submit(class='btn btn-primary w-100 mt-3') }}
</form>

{% endblock %}